@media only screen and (min-width: 600px) {
    .nav {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        overflow: hidden;
        display: flex;
        height: 70px;
        background-color: rgb(248, 248, 248);
        width: 100%;
        color: rgb(63, 63, 63);
        position: fixed;
        top: 0;
    }

    .menu-icon {
        width: 33%;
        font-size: 30px;
        margin-top: 18px;
        margin-left: 30px;
    }
    .home-link {
        font-size: 20px;
        width: 33%;
        text-align: center;
        margin: 14px 36px 0 20px;
    }
    .search-icon {
        margin-top: 22px;
        width: 10%;
        text-align: right;
        font-size: 20px;
        color: rgb(104, 101, 101);
    }
    .cart-link {
        margin-top: 26px;
        width: 24%;
        text-align: right;
        margin-right: 30px;
        color: rgb(104, 101, 101)!important;
    }

    .nav a {
        text-decoration: none;
        color: black;
    }

    .nav b {
        color: black;
    }
}
