.ourtreats-div {
    padding-top: 20px;
    text-align: center;
    background-color: rgb(223, 221, 221);
    width: 950px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .ourtreats-div {
        width: 100vw;
        height: 400px;
    }
}

.ourtreats-div h3 {
    margin: 0;
    padding-top: 10px;
}

.treats-div-row1 {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.treats-div-row1 div img {
    height: 300px;
}

@media only screen and (max-width: 600px) {
    .treats-div-row1 div img {
        height: 260px;
    }
}

.treats-div-row2 img {
    height: 460px;
}

@media only screen and (max-width: 600px) {
    .treats-div-row2 img {
        width: 100vw;
        height: 100%;
    }
}

.treats-div-row2 {
    margin: auto;
    display: flex;
    justify-content: left;
    padding-bottom: 30px;
    width: 950px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .treats-div-row2 {
        display: inline;
    }
}

.row2-trial-info {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.row2-trial-info div {
    display: flex;
    text-align: left;
}

.row2-trial-info div i {
    padding: 10px 10px;
}

.row2-trial-info div p {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .row2-trial-info {
        padding: 0 35px 60px 35px;
        margin: auto;
    }

    .row2-trial-info p b {
        font-size: 23px;
    }

    .row2-trial-info p {
        font-size: 18px;
    }
}